.view {
  animation: fadeIn 0.2s ease-in;
}

.history {
  margin:30px;
  text-align: right;
}

.chessboard-segment {
  margin-top: 100px !important;
  width: fit-content;
}

.create-multi-row {
  margin: auto !important;
  margin-top: 100px !important;
  text-align: center;
}

.explorer-container {
  min-width: 100%;
}

#explore-board {
  margin: auto;
}
