body {
  /*display: flex;*/
  background: #08BDEE !important;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

li {
  list-style-type: none
}

.event-title {
  font-size: 25px;
  min-height: 60px;
}

.header-logo {
  font-size: 40px !important;
}

.about-container{
  min-width: 800px;
  text-align: center;
}

.about-list {
  text-align: left;
}

.app-logo-knight-left {
  margin: auto;
  margin-top: -100px;
  margin-left: 38%;
  position: relative;
  display: inline-block;
  height: 175px;
  width: 160px;
}

.app-logo-knight-right {
  margin: auto;
  margin-top: -120px;
  margin-left: 45%;
  position: relative;
  display: inline-block;
  height: 175px;
  width: 160px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.stack-format {
  margin-top: 20px !important;
  margin: -10px;
  height: 100px;
  width: 100px;
}

.stack-express {
  margin-right: -30px;
  width: 200px;
  height: 60px;
}

.login-button {
  margin-right: 15%;
  position: relative;
  float: right;
  vertical-align: top;
}

/*1C5089, 70ADEF, 6D8DAE, 68DEC1, A8F56B*/

.render-current-user {
  background: #1F5995 !important;
  background-size: 100% !important;
  border: 10px solid #A8F56B !important;
  float: right;
  margin-top: -40px !important;
}

.inner-border {
  background: #68DEC1 !important;
  border: 10px solid #70ADEF;
}

.outter-border {
  background: #1C5089 !important;
  border: 10px solid #1F5995;
}

.float-right {
  float: right;
}

.float-left {
  display: flex;
}

  /*chessboard styles, edited with credit to Chris Oakman*/

.clearfix-7da63 {
  clear: both;
}

.board-b72b1 {
  border: 10px soild rebeccapurple;
  box-sizing: content-box;
  margin: auto;
}

.square-55d63 {
  float: left;
  position: relative;
}

.black-3c85d {
  background-color: #6D8DAE;
  color: #70ADEF;
  }

.white-1e1d7 {
  background-color: #68DEC1;
  color: #A8F56B;
}

.board-hidden {
  display: none;
  margin: auto auto 100px 30%;
}

.highlight1-32417, .highlight2-9c5d2 {
  -webkit-box-shadow: inset 0 0 3px 3px yellow;
  -moz-box-shadow: inset 0 0 3px 3px yellow;
  box-shadow: inset 0 0 3px 3px yellow;
}

.notation-322f9 {
  cursor: default;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  position: absolute;
}

.alpha-d2270 {
  bottom: 1px;
  right: 3px;
}

.numeric-fc462 {
  top: 2px;
  left: 2px;
}

.about-react {
  margin-left: 20px;
}
.about-container{
  margin-top: 7%;
  margin-left: 10%;
}

.rsvp-error {
  color: red;
}

.event-grid-row {
  min-width: 800px;
}

.flex-align {
  min-width: 300px !important
}

.segment-rsvp {
  /*align-items: flex-end;*/
  max-width: 200px;
}

.game-labels {
  margin-right: 3px !important;
  height: 30px !important;
  padding: 10px !important;
}

.event-divider {
  margin-top: 20px;
  background-color: black;
  color: black;
  height: 10px;
}

.item-container {
  padding: 10px;
  text-align: center;
}

.events-page-container {
  margin-top: 100px;
  display: flex;
  align-items: center;
}

.game-links {
  padding: 10px;
  min-width: 400px;
}

.center-board {
  margin-left: 50px;
}

.event-image {
  height: 300px;
  width: 200px;
}

.battle-royale {
  font-size: 50px;
}
